<!DOCTYPE html>
<html>
  <head>
    <title>PantryScheduler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Cabin+Sketch|Marcellus',
   media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
